#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  /* icon은 font와 같다고 생각하자 */
  color: rgba(0, 0, 0, 0.3);
}

/* main-screen으로 적용 */
/* .friends-screen {
  padding: 0px var(--horizontal-space);
} */

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--main-font-opacity);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    /* 태그는 보이지만 단지 브라우저가 이 element를 무시하도록 한다
      진짜로 숨길려면 자바스크립트로 구현 */
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1s; /* 시작화면에서 대기시간 */
}
