.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 아이콘의 크기를 폰트사이즈 변경으로 조절할수 있다 */
.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}
